WP_TAG=php8.3-apache

COMPOSE_PROJECT_NAME=3elifevn

WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_USER=3elifevn
WORDPRESS_DB_PASSWORD=secret
WORDPRESS_DB_NAME=3elifevn

MEM_LIMIT=1073741824

WORDPRESS_CONFIG_EXTRA="define('WP_REDIS_HOST', 'redis'); \n define('WP_CACHE_KEY_SALT', '${COMPOSE_PROJECT_NAME}-cache'); \n @set_time_limit(300);"
